node_modules/
.expo/
.expo-shared/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
.env
.env.local
.DS_Store

# React Native specific
android/app/build/
android/build/
ios/build/
*.apk
*.aab
*.ipa

# IDE
.vscode/
.idea/

# Logs
*.log
